/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

:root {
  // TODO: Går bra att radera kod även här!
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

/* Functionalities */
.unselectable {
  user-select: none;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;
  background-color: rgb(29 29 29);
}

.flexContent {
  height: calc(100vh - 660px);
  margin: 10px;
  padding: 20px;
  background-color: cadetblue;
  flex-grow: 1;
  overflow: auto;
  min-width: 20%;
  max-width: calc(25% - 30px);

  label {
    display: block;
  }
}

/* The shop */
#shopButtons {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 0;
    border: none;
    padding: 5px;
    min-width: 50%;
    cursor: pointer;
    background-color: rgb(255 173 66);
  }

  button:hover {
    background-color: rgb(226 142 32);
    transition: background-color 0.3s ease-in-out;
  }

  button:disabled {
    background-color: rgb(192 144 81);
    cursor: not-allowed;
  }
}

/* CANVAS AND VISUAL ON COMBAT ZONE */
#canvas {
  width: 100%;
  position: relative;
  background-color: antiquewhite;
  height: 600px;
  overflow: hidden;

  #dayNight {
    max-width: 100%;
    height: auto;
    position: relative;
    left: 0;
    bottom: 50%;
    transform: rotate(180deg), translate(-50%, 0);
    z-index: 10;
  }

  img {
    position: absolute;
  }

  #grass {
    width: 100%;
    bottom: 0%;
    z-index: 20;
  }
}

#goldDisplay {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: blanchedalmond;
  padding: 4px;
  box-shadow: 0 4px 4px rgba(0 0 0 / 22%);
}

.portrait {
  min-height: 500px;
  min-width: 300px;
  z-index: 15;
  bottom: 50px;
  position: absolute;

  meter {
    display: block;
    width: 100%;
  }

  progress {
    width: 100%;
    display: block;
  }
}

#playerPortrait {
  left: 10px;
}

#enemyPortrait {
  right: 10px;

  #enemyImage {
    opacity: 0.8;
  }
}

/* DEBUG */
#tickCounter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  background-color: cornflowerblue;
  margin: 4px;
  padding: 2px;
  box-shadow: 2px 2px 2px rgba(0 0 0 / 22.6%);
}
