/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

:root {
  // TODO: Går bra att radera kod även här!
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: rem(16px);
  line-height: 24px;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(255 255 255 / 87%);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

/* Functionalities */
.unselectable {
  user-select: none;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 100vh;
  background-color: rgb(29 29 29);
}

#menuContainer {
  width: 100%;
}

nav {
  background-color: rgb(131 94 46);
  padding: 10px;

  button {
    height: 50px;
    width: 50px;
    border: none;
    background-color: rgb(173 135 86);
    cursor: pointer;
  }

  button:hover {
    background-color: rgb(230 184 124);
    transition: background-color 0.3s ease-in-out;
  }

  button:disabled {
    background-color: rgb(167 126 73);
    cursor: not-allowed;
  }
}

.flexContent {
  min-height: calc(100vh - 690px);
  max-height: calc(100vh - 690px);
  margin: 10px;
  padding: 20px;
  background-color: cadetblue;
  flex-grow: 1;
  overflow: auto;
  min-width: calc(100% - 30px);
}

label {
  display: block;
}

#prestige {
  display: flex;
  overflow: auto;

  #prestigeTitle {
    position: absolute;
  }

  .prestigeFlex {
    text-align: center;
    margin: 5px;
    padding: 15px;
    margin-top: 40px;
    min-height: 100%;
    min-width: 200px;
    background-color: blue;
  }
}

/* The shop */
#shopButtons {
  display: flex;
  flex-wrap: wrap;

  button {
    margin: 0;
    border: none;
    padding: 5px;
    min-width: 50%;
    cursor: pointer;
    background-color: rgb(255 173 66);
  }

  button:hover {
    background-color: rgb(226 142 32);
    transition: background-color 0.3s ease-in-out;
  }

  button:disabled {
    background-color: rgb(192 144 81);
    cursor: not-allowed;
  }
}

/* CANVAS AND VISUAL ON COMBAT ZONE */
#canvas {
  width: 100%;
  position: relative;
  background-color: antiquewhite;
  height: 600px;
  overflow: hidden;

  img {
    position: absolute;
  }

  #dayNight {
    min-width: 1920px;
    max-width: 1920px;
    aspect-ratio: 1 / 1;
    position: absolute;
    bottom: -960px;
    left: 50%;
    margin-left: -960px;
    z-index: 10;
    transform-origin: center;
  }

  .displayText {
    position: absolute;
    font-size: 2rem;
    z-index: 50;
    color: rgb(206 33 33);
    text-shadow: 0 0 3px black;
  }

  .displayTextCrit {
    font-size: 2.5rem;
    font-weight: bolder;
    color: rgb(235 60 60);
  }

  .displayTextGold {
    color: rgb(223 179 68);
  }

  #grass {
    min-width: 3000px;
    bottom: 0%;
    z-index: 20;
    left: 50%;
    margin-left: -960px;
  }
}

#goldDisplay {
  position: absolute;
  left: 5px;
  top: 5px;
  background-color: cadetblue;
  padding: 4px;
  box-shadow: 0 4px 4px rgba(0 0 0 / 22%);
}

.portrait {
  min-height: 500px;
  min-width: 300px;
  z-index: 15;
  bottom: 50px;
  position: absolute;

  meter {
    display: block;
    width: 100%;
  }

  progress {
    width: 100%;
    display: block;
  }
}

#playerPortrait {
  left: 10px;
}

#enemyPortrait {
  right: 10px;

  #enemyImage {
    opacity: 0.8;
  }
}

/* DEBUG */
#tickCounter {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2000;
  background-color: cornflowerblue;
  margin: 4px;
  padding: 2px;
  box-shadow: 2px 2px 2px rgba(0 0 0 / 22.6%);
}

.hidden {
  display: none !important;
}
